.light {
  height: 100px;
  width: 100px;
  background-color: rgb(13, 13, 14);
  border-radius: 50%;
}

.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}

.traffic-light{
    background-color: black;
    padding: 10px;
    display: inline-block;
    margin-left: 50%;
    
}
.traffic-stick{
    height: 100px;
    background-color: black;
    padding: 10px;
    display: inline-block;
    margin-left: 56%;
}
.glowing{
    
    box-shadow: 0px 0px 40px 20px rgb(235, 227, 8);

}